footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;

    width: 100%;

    margin-top: 4rem;

}

.footer-content p {
    margin: 5px 0;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #fcc419;
}

a:hover {
    text-decoration: underline;
}

.social-links a {
    margin: 0 10px;
}

/* Dark mode */
body.dark footer{
    background-color: #5c5858;
    color: #fff;
}